body {
    margin: 0;
    padding: 0;
}

header, nav, main, footer, aside {
    background-color: cornflowerblue;
    margin: 10px;
    text-align: center;
    font-size: 2rem;
    padding: 20px;
}

@media only screen and (max-width: 600px) {

header{
    height: 40px;
}

nav {
    height: 20px;
}

aside {
    display: block; 
    width: calc(50% - 20px); 
    height: 500px;
    box-sizing: border-box; 
    float: left;
    float: right;
    background-color: pink;
}

footer {
    clear: both;
}
}
