body {
    margin: 0;
    padding: 0;
}

header, nav, main, footer, aside {
    margin: 10px;
    text-align: center;
    padding: 20px;
}

header {
    height: 40px;
    background-color:#bed3c3 ;
}

nav {
    height: 20px;
    background-color: #4a919e;
}

aside {
    display: block;
    height: 500px;
    box-sizing: border-box;
    background-color: #e3adca;
}

footer {
    clear: both;
    background-color: #212e53;
}

@media only screen and (min-width: 767px) {
    aside {
        width: calc(50% - 20px); 
        float: left; 
    }

    main {
        width: calc(50% - 20px);
        float: right; 
    }
}
