* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header, nav, aside, main, footer {
    background-color: cornflowerblue ;
    margin: 10px;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    display: block;
}

header, nav, footer {
    width: calc(100% - 22px); 
}


aside {
    width: calc(30.2% - 40px); 
    float: left; 
    height: 500px;
    box-sizing: border-box;
    background-color: pink;
}

main {
    width: calc(43.8% - 30px); 
    margin: 10px auto; 
    float: right;
    float: left; 
    height: 500px;
    background-color: gray;
}

footer {
    clear: both; 
}

