* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

header, nav, main, footer {
    background-color: #e47c7c;
    margin: 10px;
    text-align: center;
    padding: 20px;   
}

header{
    height: 70px;
}
 
nav{
    height: 60px;    
}

main {
    
    padding: 20px;
    height: 500px;
    background-color: #94c6c1;
    justify-content: center;
    align-items: center;
 }

