body * {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    }

header {
    padding: 20px;
    text-align: center;
    background-color: cornflowerblue;
    }

nav {
    padding: 10px;
    text-align: center;
    background-color: cadetblue;
    }

.container {
    display: flex;
    justify-content: space-between;
    }

.content-a {
    padding: 20px;
    width: 60%;
    height: 528px;
    background-color: skyblue;
    text-align: center;
    }

.content-b {
    float: left;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    padding: 20px;
    width: 40%;
    background-color:brown ;
    flex-wrap: wrap;
    gap: 10px;
    }

.picture, .about {
    padding: 10px;
    flex-basis: 100px;
    flex-grow: 1;
    height: 200px;
    }

.picture {
        grid-area: picture;
        background-color: pink;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        }


.about {
        grid-area: about;
        background-color: pink;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        }

.recent {
    padding: 10px;
    height: 250px;
    width: 100%;
    }
    
.recent {
        grid-area: recent;
        background-color: pink;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        }


footer {
    clear: both;
    text-align: center;
    background-color: cornflowerblue;
    padding: 10px;
    }